.articles {
  max-width: 1200px;
  margin: auto;
}

.content {
  margin-right: 20px;
}

.icon-arrow-left {
  font-size: 25px;
}
.icon-arrow-right {
  font-size: 25px;
}

.icon-arrow-left:hover {
  color: #777;
}
.icon-arrow-right:hover {
  color: #777;
}
