.nav-desktop {
  display: none;
}

.container_computer {
  display: none;
  padding-bottom: 20px;
}
.container_smartphone {
  display: none;
  padding-bottom: 20px;
}
.container_watch {
  display: none;
  padding-bottom: 20px;
}
.container_tv {
  display: none;
  padding-bottom: 20px;
}
.container_tablets {
  display: none;
  padding-bottom: 20px;
}
.container_gaming {
  display: none;
  padding-bottom: 20px;
}
