.not-found-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-box {
  display: flex;
  gap: 5%;
  padding: 40px;
}

.not-found-content > span > a:hover {
  background-color: #dbdbff;
}
.not-found-content {
  text-align: initial;
}
